.contenedor{
    display: flex;
}

.cuadrado{
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: 2px solid black;
}
.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}